/* shared styling */
*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-weight: 800;
    font-family: "Open Sans", system-ui;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
}
.text-yellow{
    color: #FD6E0A;
}
.button-primary{
    font-size: 20px;
    font-weight: 600;
    color: beige;
    padding: 20px 30px;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
}
/* nav styling start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
/* nav styling end */
/* header styling start */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    box-shadow: 2px 2px 5px 2px rgb(143, 81, 81);
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 600px;
    justify-content: space-between;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-title{
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 80px;
}
.banner-description{
    margin-bottom: 500px;
}
.banner button{
    margin-right: 30px;
}
.banner-image{
    width: 500px;
} 
/* header styling end */

/* main styling start */
main{
    max-width: 1140px;
    margin: 0px auto;
    border: 2px solid;
}
.section-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
/* about section styling start */
.about{
    border-radius: 5px;
    padding: 60px 100px;
    margin:  100px 40px;
    text-align: justify;
    background-color: #FFF8F3;
}

.about-info-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 10px;
}
/* about section styling end */
