/* shared styling */
*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-weight: 800;
    font-family: "Open Sans", system-ui;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
}
.text-yellow{
    color: #FD6E0A;
}
.button-primary{
    font-size: 20px;
    font-weight: 600;
    color: beige;
    padding: 10px 20px;
    margin: 20px 0px;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
}
/* nav styling start */
nav{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 700;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
/* nav styling end */
/* header styling start */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-size: auto,contain;
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    box-shadow: 2px 2px 5px 2px rgb(143, 81, 81);
    
    /* padding-left: 15px; */
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
}
.banner-content{
    max-width: 600px;
    justify-content: space-between;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-title{
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 80px;
}
.banner-description{
    margin-bottom: 500px;
}
.banner button{
    margin-right: 30px;
}
.banner-image{
    width: 500px;
} 
/* header styling end */

/* main styling start */
main{
    max-width: 1140px;
    margin: 0px auto;
    /* border: 2px solid; */
}
.section{
    gap: 100px;
    margin-bottom: 0px;
}
.section-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
/* about section styling start */
.about{
    border-radius: 5px;
    padding: 60px 110px;
    margin:  100px 40px;
    
    text-align: justify;
    background-color: #FFF8F3;
    /* border: 2px solid; */
}

.about-info-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 10px;
}
/* about section styling end */

/* what i do styling start */
.what-i-do{
    /* border: 2px solid; */
    max-width: 1140px;
    padding: 60px 100px;
    margin:  100px 40px;
}
.what-i-do .section-desc{
    padding: 20px 60px;
    text-align: center;
    margin-bottom: 30px;
}
.skill-info-container{
    display: flex;
    gap: 24px;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding: 0px 10px;
}
.skill-info{
    background-color: rgba(255, 228, 196, 0.474);
    padding: 20px;
    border-radius: 5px;
    /* margin-right: 20px; */
    box-shadow: 0px 0px 5px 3px rgba(165, 42, 42, 0.315);
}
.skill-info-title{
    margin: 10px 0px;
}
.skill-desc{
    text-align: justify;
    margin: 20px 10px 5px 0px;
}
/* resume summary */
.resume-summary{
    max-width: 1140px;
    /* border: 2px solid; */
    margin:  100px 40px;
    margin-bottom: 0px;
    padding: 60px 100px;
}
.resume-container{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    background-color: rgba(255, 228, 196, 0.323);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(165, 42, 42, 0.178);
    /* border: 2px solid; */
    padding: 20px;
}
.resume-summary-button{
    text-align: center;
    margin: 20px 0px;
}
.resume-col-title{
    text-transform: capitalize;
    font-size: 30px;
}
.resume-column{
    gap: 70px;
}
.resume-item{
    margin: 20px 0px;
}
.resume-item-title{
    margin: 10px 0px;
    font-size: 25px;
}
.resume-institute-info{
    margin: 10px 0px;
    font-weight: 600;
}
/* footer styling */
footer{
    background-color: rgb(255, 228, 196);
    display: flex;
    padding: 60px 230px;
    margin-top: 0px;
    gap: 80px;
    /* justify-content: space-between; */
}
footer .section-title{
    text-align: left;
}
/* #contact{
    margin-right: 30px;
} */
.footer-column{
    width: 50%;
    align-items: center;
    padding: 20px 50px 20px 10px;
    /* border: 2px solid; */
    box-shadow: 0px 0px 5px 5px rgba(165, 42, 42, 0.282);
}
.social-media-links{
    text-align: left;
    margin: 10px 0px;
    /* margin-right: 30px; */
}
.social-media-links a{
    
    margin-right: 30px;
}
.footer-column form label{
    display: block;
    padding: 10px 0px;
    /* width: 100%; */
    
}
input,textarea{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
}
.footer-button{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    color: beige;
    padding: 10px;
    /* margin: 10px 0px; */
    border: 0;
    border-radius: 5px;
    /* text-align: center; */
    background-color: #FD6E0A;
}
/* responsive */
.hide{
    display: none;
}
/* small devices */
@media screen and (max-width:576px) {
    .section-title{
        font-size: 2.5em;
    }
    /* about section styling start */
    .about{
        border-radius: 5px;
        padding: 30px 10px;
        margin:  50px 10px;
        /* border: 2px solid red; */
    }
    .about-info-container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    /* what i do section responsive */
    .what-i-do{
        /* border: 2px solid;
        max-width: 1140px; */
        padding: 10px 0px;
        margin:  30px 10px;
    }
    .what-i-do .section-desc{
        padding: 10px 20px;
        font-size: 1.2em;
        text-align: justify;
    }
    .skill-info-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 20px;
    }
    .skill-info-title{
        font-size: 1.7em;
        margin: 10px 0px;
    }
    .skill-desc{
        font-size: 1.2em;
    }
    /* resume section responsive */
    .resume-summary{
        /* border: 2px solid; */
        padding: 10px;
        margin:  30px 10px;
    }
    .resume-item-title{
        font-size: 1.5em;
    }
    .resume-container{
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        gap: 30px;
        
    }
}